RewriteEngine On
RewriteBase /kof_api/

RewriteRule ^([0-9]+)$ index.php?id=$1 [L]
RewriteRule ^login$ index.php [L]
RewriteRule ^verify_token$ index.php [L]

# Habilitar CORS para todas las rutas
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
